@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a:visited:hover, a:link:hover {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 2vw;
}

/*Header*/

header {
    background-image: linear-gradient(135deg, rgba(220, 220, 220) 30%, rgb(234, 220, 165) 45%, rgb(234, 220, 165) 55%, #AAA 70%);
    position: relative;
    width: 100%;
    height: 9rem;
    box-shadow: -1px 3px 12px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 3px 12px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 12px 0 rgba(0, 0, 0, 0.75);
    display: block;
}

.row__logo-text {
    position: absolute;
    width: 100%;
    height: 5rem;
}

.logo__text {
    position: absolute;
    transform: translateY(-10rem);
}

#logo__font {
    position: absolute;
    font-family: 'Perpetua', sans-serif;
    font-size: 5.8rem;
    transform: translateY(-.8rem);
}

#logo__img {
    top: 50%;
    left: 50%;
    width: 4rem;
    position: absolute;
    transform: translate(-50%, -45%);

}


#logo__img-icon {
    width: 100%;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
}

.menu a:hover {
    color: rgb(231, 60, 83);
}


.menu {
    display: inline-block;
    position: absolute;
    top: 6rem;
    width: 100%;
}

.menu-items .col-sm-3:not(:last-child) {
    border-right: 1px solid black;
}

.col-sm-3 a {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}


/* Final Header*/


/*Layout*/
.layout__eslogan {
    box-shadow: -1px 3px 12px 0 rgba(0, 0, 0, 0.75);
    position: relative;
}

#layout__eslogan-container {
    background-image: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../img/bgimage.png');
    background-size: cover;
    background-position: center;
    height: 85vh;
}

.heading-primary {
    font-family: initial;
    width: 100%;
    height: 100%;

}

.heading-primary--main {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
    font-weight: 400;
}

.heading-primary--sub {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 14vw;
    font-weight: 400;
}

.heading-primary--sub-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, -50%);
    font-size: 3vw;

}

/*Layout final*/


#section__artistas {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 2%;
    background-color: #eee;
}

.section__artistas-titulo {
    font-size: 4vw;
    width: 100%;
    margin-bottom: 20px;
}

.main_card_container{
    margin: 0;

}

.container_card{
    flex-basis: 33.33%;
}

/*.main_card_container .container_card:not(:last-child){*/
/*    flex-grow: 1;*/
/*}*/

.card__container {
    border: 1px solid transparent;
    border-radius: 10%;
    overflow: hidden;
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
    transition: all .2s;
}

.card__container:hover {
    border: 1px solid black;
}

.picture--1 {
    background-blend-mode: screen;
    background-size: cover;
    background-image: url("../img/damienhirst.jpeg");
    width: 100%;
    height: 30rem;
}


/*[id^="picture"] {*/
/*    background-blend-mode: screen;*/
/*    position: relative;*/
/*    !*border-top-left-radius: 12%;*!*/
/*    !*border-top-right-radius: 12%;*!*/
/*    width: 100%;*/
/*}*/

.card__details {
    font-size: inherit;
    margin-top: 5%;
    width: 100%;
    position: relative;
    height: 10rem;
}

.card__details__artist {
    position: absolute;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: max-content;
    font-size: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.card__details__follow {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    width: max-content;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}

.card__details__follow a {
    color: black;
    text-decoration: none;
}

.card__details__follow a:hover {
    color: rgb(231, 60, 83);
}

/*Footer*/
.footer {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: rgba(234, 220, 165, .3);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.list_footer {
    list-style: none;
}

.list_footer a:link, a:visited {
    color: black;
    text-decoration: none;
}

.list_footer a:visited:hover {
    color: rgb(231, 60, 83);
    text-decoration: black;
}


.logo__footer-container {
    text-align: center;
}


@media (max-width: 1200px) {
    .container_card{
        flex-basis: 50%;
    }
}


@media (max-width: 735px) {
    header {
        height: 11rem;
    }
    .container_card{
        flex-basis: 100%;
    }
}

@media (max-width: 576px) {

    header {
        height: 16rem;
    }

    #logo__img {
        left: 90%;
    }

    .row .col-sm-3:not(:last-child) {
        border-right: 1px solid transparent;
    }

    .col-sm-3 a::after {
        content: "";
        position: absolute;
        background-color: #333;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 70%;
    }

    /*.card__details__artist{*/
    /*    font-size: 1.5rem !important;*/
    /*}*/
    /*.card__container{*/
    /*    width: 75%;*/
    /*    height: 90%;*/
    /*}*/
    .container_card{
        width: 100%;
    }
}


/* Galeria html */

.clear-fix {
    clear: both;
}

.masonry-container {
    width: 80vw;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

.panel {
    position: relative;
    display: inline-block;
    width: calc((80vw - 60px) / 3);
    height: calc((80vw - 10px) / 3);
    margin-right: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-out;
}

.panel:hover {
    box-shadow: 0px 2px 8px 0px rgb(234, 220, 165);
    transition: all 0.2s ease-out;
}


.panel:nth-child(5n+4) {
    margin-right: 6px;
    width: calc(((80vw - 20px) / 3) * 2);
    height: calc((80vw - 10px) / 3);
}

/*.panel:nth-child(11n+6) {*/
/*    margin-left: 0;*/
/*    float: left;*/
/*    width: calc((80vw - 60px)/3);*/
/*    height: calc(((80vw - 20px)/3)*2 - 8px);*/
/*}*/

/*.panel:nth-child(11n+6) > .panel-wrapper > .panel-img {*/
/*    transform: translateX(-25%);*/
/*}*/

/*.panel:nth-child(11n+7) {*/
/*    margin-left: 27px;*/
/*    width: calc(((80vw - 20px)/3)*2);*/
/*}*/

/*.panel:nth-child(11n+8) {*/
/*    margin-left: 27px;*/
/*}*/

/*.panel:nth-child(11n+9) {*/
/*    float: none;*/
/*}*/

/*.panel:nth-child(11n+10) {*/
/*    margin-left: 0;*/
/*    width: calc((80vw - 30px)/2);*/
/*}*/

/*.panel:nth-child(11n+11) {*/
/*    width: calc((80vw - 30px)/2);*/
/*}*/


.panel-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.panel-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.panel-overlay:hover {
    opacity: 1;
    transition: all 0.3s ease-out;
}

.panel-text {
    position: absolute;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    left: 25px;
    bottom: 0;
    z-index: 10;
}

.panel-title {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0;
    color: #fff;
}

.panel-tags {
    padding-top: 2px;
}

.tag-icon-img {
    display: inline-block;
    width: 2rem;
    height: auto;
    transform: translateY(2px);
}

.tags-list {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
}

.panel-gradient {
    position: absolute;
    width: 100%;
    height: 65%;
    bottom: 0;
    opacity: 0.65;
    z-index: 5;
}

.panel-vingette {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.5;
}

.panel-img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

@media (max-width: 735px) {
    .panel-title {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .panel-title {
        font-size: 0.8rem;
    }

    .masonry-container {
        margin-top: 15px;
        width: 100vw;
    }

    .panel {
        width: calc((100vw - 30px) / 3);
        height: calc((100vw - 10px) / 3);
        margin-right: 5px;
    }

    .panel:nth-child(5n+4) {
        margin-right: 6px;
        width: calc(((100vw - 20px) / 3) * 2);
        height: calc((100vw - 10px) / 3);
    }

    .panel-text {
        left: 5px;
        bottom: -15px;
    }

    .tags-list {
        font-size: 0.5rem;
    }
}


/*Pagina Contactanos*/

.section-contactanos {
    font-family: Nunito, sans-serif;
    padding: 15rem 5rem;
    background-color: palegoldenrod;
}

.row-contact::after {
    content: "";
    display: table;
    clear: both;
}

.contactanos {
    background-image: linear-gradient(
            105deg,
            white 0%,
            white 10%,
            transparent 80%
    ), url("../img/collage.jpg");
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem black;
    height: 56rem;
}

.contactanos-form {
    width: 50%;
    padding: 4rem 4rem;
}

.form__group:not(:last-child) {
    margin-bottom: 2rem;
}

.form__input {
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(1, 1, 1, .4);
    width: 100%;
    display: block;
    transition: all 0.3s;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid palegoldenrod;
}
.form__input:focus:invalid {
    border-bottom: 3px solid red;
}
.form__input::-webkit-input-placeholder {
    color: #999;
}
.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

@media (max-width: 1100px) {
    .section-contactanos{
        width: 96vw;
        padding: 3rem 3rem;
    }

    .contactanos-form{
        width: 100%;
    }


}

@media (max-width: 576px) {
    .section-contactanos{
        padding: 3rem 3rem;
    }

}


/*Artistas*/

.container1{
    font-family: Nunito, sans-serif;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container1 .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(17, 0, 255, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: palegoldenrod;
}

.container1 .card:hover{

    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container1 .card img{
    width: 330px;
    height: 220px;
}

.container1 .card h4{
    font-weight: 600;
}

.container1 .card p{
    padding: 0 1rem;
    font-size: 10px;
    font-weight: 300;
}

.container1 .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.artistas__layout{
    position: relative;
    background-image: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../img/bgimage.png');
    background-size: cover;
    background-position: center;
}





